body {
  margin: 0;
  background-color: blanchedalmond;
  color: black;
  font-family: Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.li {
  color: white;
  padding: 10px;
  cursor: pointer;
}

.li:hover {
  background-color: #555;
  border-radius: 5px;
}

.hero {
  display: flex;
  justify-content: space-between;

  height: calc(100vh - 60px);
  /* Full viewport height minus the navbar height */
  align-items: center;

  padding: 60px;
  margin-top: 60px;
  text-align: left;
}

.hero-content {
  max-width: 50%;
}

.hero-image {
  max-width: 900px;
  height: auto;
}